<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <iisnode loggingEnabled="false" />
        <rewrite>
            <rules>
                <!-- Rule 1: Redirect HTTP to HTTPS -->
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Rule 2: Force www (main domain is www.lavlokshan.com) -->
                <rule name="Force www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^lavlokshan\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://www.lavlokshan.com/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Existing rule for app.js -->
                <rule name="mysite">
                    <match url=".*" />
                    <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
